node_modules/
dist/
.next/
*.tsbuildinfo
.env
.env.local
.DS_Store
.agent-spaces-data/
server.tar
.gitignore
web.tar
packages/server/web/
packages/server/agent_spaces/
documents/.docusaurus/
documents/build/
.npmrc
packages/tauri/web/
packages/tauri/src-tauri/target/
packages/flutter/assets/web/
agent_spaces-server.latest.tar
packages/server/public/avatars/
packages/server/public/uploads/
.tmp*
packages/server/agent-spaces-data/workflows/*/execution_history/
packages/server/agent-spaces-data/workflows/*/operation_history.json
packages/server/agent-spaces-data/workflows-ui/*/data/
packages/server/agent-spaces-data/plugins/state.json
